@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis&family=Merriweather:ital@1&family=Montserrat:wght@300&family=Nunito:wght@700&family=PT+Sans&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,400;1,400&family=Work+Sans:ital,wght@0,300;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis&family=Merriweather:ital@1&family=Mochiy+Pop+One&family=Montserrat:wght@300&family=Nunito:wght@700&family=PT+Sans&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,400;1,400&family=Work+Sans:ital,wght@0,300;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Serif";
    background: #718878;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}
.po-up-continer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219 219 219 / 83%);
    position: fixed;
}
.po-up{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
background-color: #2d4d42;
width: 35%;
border-radius: 40px;
margin: 4rem;
padding: 2rem;
}
.po-up ion-icon{
    position: absolute;
    right: 14%;
    top: 5%;
font-size: 2rem;
font-weight: bold;
cursor: pointer;
}
.po-up h3{
    font-size: 30px;
    padding: 2rem;
    font-family: "Mochiy Pop One";
    color: #fff;
}
.po-up p{
    line-height: 35px;
    font-size: larger;
    padding: 0 2rem;
    color: #fff;
}
.logo{
    width: 200px;
    height: 170px;
margin-top: 1rem;
}


section {
    align-items: center;
    height: 20%;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    display: flex;

}
section input {
    padding: 10px 16px;
    border: none;
    width: 60%;
    border-radius: 12px;
    outline: none;
}
section button {
    text-decoration: none;
    color: #2D4D42;
    font-size: 13px;
    padding: 6px 14px;
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
    font-family: "Mochiy Pop One";
    cursor: pointer;
}
main{
    width: 60%;
    background-color: #c4d0cc;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 3rem ,0; */
    margin: 2rem 2rem 1rem 2rem;
    height: 80%;
    padding-top: 1.5rem;
}
main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.3s linear;
}
main img:hover{
    box-shadow: 2px 8px 45px #2d4d42;
    transform: translate3D(0, -9px, 0);
}

main div h2{
    text-align: center;
    color: #2d4d42;
    font-size: 2rem;
    font-weight: 800;
    padding: 0.4rem 0;
}
.info{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0
}
.info span{
    width: 45%;
    background: #718878;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: center;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main button{
    background-color: #2d4d42;
    width: 11rem;
    height: 4rem;
    border-radius: 2rem;
    color: aliceblue;
    text-align: center;
    font-size: small;
    cursor: pointer;
    font-family: "Mochiy Pop One";
    margin-bottom: 0.5rem;
    transition: all 0.3s linear;
}
main button:hover{
    box-shadow: 2px 8px 45px #2d4d42;
    transform: translate3D(0, -9px, 0);
}